{%extends 'base.html' %}
{% block content %}
	<h2>Login</h2>
	<form action="." method="POST">
		{% csrf_token %}
        {{ form.as_p }}
        <input type="submit"  value="Войти"/>
	</form>
{% endblock%}
