{% extends 'base.html'%}
{% block content %}
	<form action="/cut" method="POST">
		{% csrf_token%}
		{{ form.as_p }}
	<input type="submit" value="Сократить" />
    </form>
	<div>
		{% if data%}
        	{{data}}
        {% endif %}
	</div>
{% endblock%}
